#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  --color-primary: #34d3a8;
  --color-primary-dark: #158f62;
  --color-bg-2: #3e4542;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app main {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: var(--color-primary-dark);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col span:first-child {
  color: #7e7e7e;
}

.question-card {
  display: flex;
  width: 800px;
  background: #45486440;
  border-radius: 10px;
  margin: 2em;
  text-align: left;
  box-shadow: 1px 2px 1px #3d3f3f, 0px 1px 1px #3d3f3f, 0 0 0 1px #3d3f3f;
}

.question-card:hover {
  cursor: pointer;
}

.question-card:hover h2 {
  color: var(--color-primary);
}

.question-stats {
  display: flex;
  flex-direction: column;
  width: 115px;
  padding: 1.5em;
  border-radius: 15px 0 0 15px;
  border-style: soli;
  border-right: 1px solid;
  border-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgb(68, 68, 73) 50%,
      rgba(0, 0, 0, 0)) 1 100%;
}

.question-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-detail-content {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  padding: 1.5em;
}

.question-detail-title {
  width: 100%;
  border-bottom: 1px solid #3d3f3f;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  display: flex;
  justify-content: center;
  background: var(--color-primary-dark);
  padding: 0.5em;
  border-radius: 6px;
}

.question-main {
  padding: 1em 2em 1em;
  width: 100%;
}

.question-main h2 {
  margin-top: 0;
}