:root {
  --color-primary: #34d3a8;
  --color-primary-dark: #158f62;
  --color-bg-1: #2f303b;
  --color-bg-2: #3e4542;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary-dark, #158f62);
  color: var(--color-primary-dark, #158f62)
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--color-primary-dark, #158f62);
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.votes h2 {
  margin: 0
}